body {
  font-family: 'Poppins', sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  /* không cần vì body dùng flex:column độc lập với heading và footer */
  /* clear: both;  */
}

footer {
  text-align: right;
  color: midnightblue;
  /* Tương tự */
  /* clear: both; */
}

.creative {
  color: #191970;
}

.card {
  /* display: inline-block; */
  width: 45%;
}
.left.card {
  float: left;
}
.right.card {
  float: right;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left;
}
@media (max-width: 680px) {
  h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
  }
  .logo {
    height: 17.5px;
  }
  .card {
    width: 100%;
  }
  .tile-image {
    float: none;
    object-fit: cover;
    width: 100%;
  }
  .left.card,
  .right.card {
    float: none;
  }
  .card-text {
    text-align: justify;
  }
}

/*
1. dev.com, h1 -> display float -> clear both 
2. footer float clear both 
img + p -> div -> float right, left

*/
